* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Averia Serif Libre", cursive;
}

.nav {
  font-size: 1rem;
  padding: 2rem;
  background-color: #000;
}

.nav__head {
  width: 80rem;
  margin: 0 auto;
}

.nav__head-list a,
.nav__head-name a {
  display: block;
  text-align: center;
}

.nav__head-name {
  float: left;
}

.nav__head-list {
  float: right;
}

.nav__head-list-item {
  list-style: none;
  margin-left: 1rem;
  float: left;
  border-left: 1px solid #fff;
  padding-left: 0.9rem;
}

.nav__head-name:link,
.nav__head-name:visited {
  color: #fff;
  text-decoration: none;
}

.nav__head-list-item a:link,
.nav__head-list-item a:visited {
  color: rgb(0, 132, 255);
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
