* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Kiwi Maru", serif;
  background-color: rgba(36, 68, 36, 0.452);
}

.nav {
  font-size: 1rem;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
}

.nav__head {
  width: 80rem;
  margin: 0 auto;
}

.nav__head-list a,
.nav__head-name a {
  display: block;
  text-align: center;
}

.nav__head-name {
  float: left;
}

.nav__head-list {
  float: right;
}

.nav__head-list-item {
  list-style: none;
  margin-left: 1rem;
  float: left;
  border-left: 1px solid #fff;
  padding-left: 0.9rem;
}

.nav__head-name:link,
.nav__head-name:visited {
  color: #fff;
  text-decoration: none;
}

.nav__head-list-item a:link,
.nav__head-list-item a:visited {
  color: rgb(53, 206, 135);
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background-image: url(/images/unsplash.jpg);
  background-size: cover;
  background-position: 0 20%;
  text-align: center;
  padding: 3rem;
}

.header__dp {
  width: 12rem;
  border: solid rgb(44, 68, 42) 0.2rem;

  border-radius: 20%;
  margin: 0 auto 1rem auto;
  box-shadow: 2px 2px 5px 5px rgba(51, 78, 49, 0.89);
  display: block;
}

.header__name {
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(33, 87, 61, 0.61);
  padding: 1rem;
  display: inline-block;
  margin-bottom: 1.2rem;
  border-radius: 5%;
}

.header__city {
  font-size: 1rem;
  color: rgb(53, 206, 135);
  background-color: rgba(8, 8, 8, 0.884);
  padding: 1rem;
  border-radius: 5%;
}

.main {
  margin-top: 5rem;
}

.main-div {
  width: 70%;
  margin: 0 auto;
}

.main__background {
  font-size: 1rem;
  float: left;
  width: 40%;
  background-color: rgba(39, 143, 39, 0.295);
  padding: 2rem;
}

.main__goals {
  font-size: 1rem;
  float: right;
  width: 40%;
  background-color: rgba(39, 143, 39, 0.295);
  padding: 2rem;
}

h2 {
  padding-bottom: 1rem;
}

.resume:link,
.resume:visited {
  text-decoration: none;
  color: rgb(0, 71, 177);
}

.button {
  background-color: rgba(164, 182, 63, 0.774);
  padding: 0.2rem;
  border-radius: 10%;
  margin: 1.5px;
}
